[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ONEST"]
	path = ONEST
	url = https://github.com/hangangtrue/onest
[submodule "RPEXE.RPEXT"]
	path = RPEXE.RPEXT
	url = https://github.com/hangangtrue/rpexe.rpext
